meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="site full stack javascript")
meta(name="author" content="David Higuet")
title MON RESEAU
link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
script(src="https://use.fontawesome.com/82f7a8fa5f.js")
link(rel="stylesheet" href='/ressources/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' href='/stylesheets/style.css')