doctype html
head
    block head
        include head.pug
    header.container-fluid
        block header
            h1 MON MEILLEUR ROLE
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.fixed-top.text-uppercase        
            block nav
            include menu.pug
    
    block content

    block footer
        include scriptfooter.pug