footer
    #couverture
        #popup
            #close
            #popup_contenu
    .cop
        img#cpy.btn.ajax(src="/images/pic/inconnue.png" data-ajax="copyright" alt="copyright")
        A propos
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='/ressources/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/ajax.js')
 
    