body{
    background-color: $colorPoliceOne;
     width: 100%;
    height: 100%;
    background-image: url("/images/backgroundMovie.jpg");
    background-position: top center;
    background-size: cover;
}
hr{
    background-color: black;
}

header{
    position: fixed;
    z-index: 2;
    top: 0;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-image: url("/images/backHead.jpg");
    background-position: top center;
    background-size: cover;
    h1{
        background-color: $colorOne;
        margin-top: $dimension;
        color:#007bff;
        width: 100%; 
    }
    h2{
        color:  white;
        @include shadow3;
        background-color: $colorThree;
        width: 100%; 
        z-index: 10000;
    }
    .navbar{
        //height: 50px!important;
        top:100px!important;
        background-color:  white!important;
        border-top:5px solid white;
        text-align: center;
        a{
        color: #007bff;
        padding: 0!important;
        font-family: "robotothin"!important;
        text-align: center;
            &:hover, &:active, &:focus{
            color: $colorTwo!important; 
            }
        }
    li{
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
    }
}

    .navbar-toggler{
        background-color: #007bff!important; 

        &:hover,&:focus {
            background-color: #007bff!important; 
            outline: none;
        }
    }   
 
}
.red{
    color: red;
}
.recapProperty{
    margin-top: 246px;
    color: #007bff!important;
    text-align: center;
    background-color: white; 
}

.button2{
    width: 100%;
    @include shadow;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: rgb(219, 77, 77);
    &:hover{
        @include shadow2;
    }
    a{
    color:black!important;
        &:hover{
            text-decoration: none;
        }
    }
}